/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
<<<<<<< HEAD

a {
  text-decoration: none;
}
=======
>>>>>>> 0387165878578ba334eae141a45443f7b67b4b1c
