<mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel *ngFor="let post of posts; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ post.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="img-prev">
        <img [src]="post.imagePath" [alt]="post.title" />
      </div>
      <p>{{ post.content }}</p>
      <mat-action-row *ngIf="isAuth && userId === post.creator">
        <button mat-button color="primary">Edit</button>
        <button mat-button color="warn" (click)="postDeleted(post.id)">Remove</button>
      </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>


<mat-paginator
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">
</mat-paginator>

<p *ngIf="posts.length <= 0"> No Posts Now ! </p>
